<h1>TestSesiones#bienvenida</h1>
<p>Find me in app/views/test_sesiones/bienvenida.html.erb</p>
<h2> Bienvenido/a <%="#{@nombre} #{@apellido}"%> </h2>
<p> <%= link_to "Cerrar sesión", :controller => "test_sesiones", :action => "cerrar_sesion" %> </p>
