<h1>TestSesiones#cerrar_sesion</h1>
<p>Find me in app/views/test_sesiones/cerrar_sesion.html.erb</p>
<h2> La sesión ha sido cerrada. Hasta la próxima. </h2>
<p> <%= link_to "Volver a ingresar", :controller => "test_sesiones", :action => "iniciar_sesion" %> </p>
